<nav class="navbar navbar-expand-md navbar-light bg-secondary">
  <a class="navbar-brand" routerLink="" >EventIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="events">Events</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item nav-link"><img class="card-img-top" [src]="(auth.user|async)?.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" height="35px"></li>
      <li class="nav-item nav-link disabled text-dark" *ngIf="auth.user | async">Hello, {{(auth.user|async)?.displayName}}</li>
      <li *ngIf="auth.user | async" class="nav-item"><a class="nav-link" routerLink="dashboard">My Events</a></li>
      <li *ngIf="!(auth.user | async)" class="nav-item"><a class="nav-link text-success" routerLink="login">Login</a></li>
      <li *ngIf="auth.user | async" class="nav-item"><a class="nav-link text-danger" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>