<div class="container mt-4">
  <div class="row justify-content-center text-center mb-4">
    <div class="col-lg-6">
      <h1>Create an Event</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card text-white bg-info">
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" class="credit-card-div">
            <div class="panel panel-default" >
              <div class="panel-heading">
                <div class="row ">
                  <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Event Title" [(ngModel)]="event.title" name="title"/>
                  </div>
                  <div class="col-md-6">
                      <input type="date" class="form-control" [(ngModel)]="event.date" name="date"/>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12 pad-adjust">
                      <textarea placeholder="Event Description" class="form-control md-textarea" rows="3" [(ngModel)]="event.desc" name="desc"></textarea>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-md-12 pad-adjust">
                      <input type="text" class="form-control" placeholder="Event Venue" [(ngModel)]="event.venue" name="venue"/>
                  </div>
                </div>
                  <div class="row mt-2">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <input type="submit"  class="btn btn-danger" value="Cancel" routerLink="dashboard">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <input type="submit"  class="btn btn-success btn-block" value="Create Event">
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>