<div class="container mt-4">
  <div class="row justify-content-center text-center mb-4">
    <div class="col-lg-6">
      <h1>Create an Event</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card text-white bg-info">
        <div class="card-body">
          <form action="#" class="credit-card-div">
            <div class="panel panel-default" >
              <div class="panel-heading">
                <div class="row ">
                  <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Enter Event Title" />
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12 pad-adjust">
                      <textarea placeholder="Enter Event Description" class="form-control md-textarea" rows="3"></textarea>
                      <input type="date" class="form-control mt-4" placeholder="Name On The Card" />
                  </div>
                </div>
                  <div class="row mt-2">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <input type="submit"  class="btn btn-danger" alt="Enter Event Date" routerLink="dashboard">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <input type="submit"  class="btn btn-success btn-block" value="Create Event" routerLink="dashboard">
                    </div>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>