<div class="container">
  <div class="omb_login">
    <h3 class="omb_authTitle">Login</h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
			<div class="col-xs-4 col-sm-2">
				<a class="btn btn-lg btn-block omb_btn-facebook" (click)="loginFb()">
					<i class="fa fa-facebook visible-xs"></i>
					<span class="hidden-xs">Facebook</span>
				</a>
			</div>
			<div class="col-xs-4 col-sm-2">
				<a class="btn btn-lg btn-block omb_btn-twitter" (click)="loginTwitter()">
					<i class="fa fa-twitter visible-xs"></i>
					<span class="hidden-xs">Twitter</span>
				</a>
			</div>	
			<div class="col-xs-4 col-sm-2">
				<a class="btn btn-lg btn-block omb_btn-google" (click)="loginGoogle()">
					<i class="fa fa-google-plus visible-xs"></i>
					<span class="hidden-xs">Google+</span>
				</a>
	        </div>	
		</div>  	
	</div>
</div>